*{
padding:0;
margin:0;
}

:root{
--espacio:1.5rem;
}

body{
font-size:20px;
background:#ededed;
}

:root{
--espacio:1.5rem;
}   
    
header{
min-height:5rem;
width:100vw;
background:rgba(0,0,0,40%);
/*padding-left:var(--espacio);*/
display:flex;
justify-content:space-between;
background:rgba(0,0,0,50%);
}

header .logo{
height:9rem;
width:9rem;
}

.contenedorUno{
width:100vw;
background:#e9e9e9;
}

.contenedor-img{
width:100vw;
display:grid;
place-content:center;
padding:1rem;
box-sizing:border-box;
}

.contenedor-img img{
height:35rem;
width:40rem;
object-fit: scale-down;
}

.contenedor-imgs{
min-height:3rem;
width:100vw;
display:grid;
grid-template-columns:repeat(auto-fill,4rem);
align-content:center;
gap:.8rem;
background:#e6e6e6;
padding:.5rem 0 .5rem .5rem;
box-sizing:border-box;
}

.contenedor-imgs div{
height:3rem;
width:4rem;

background:rgb(198, 198, 198);
}

.contenedor-imgs div img{
height:100%;
width:100%;
object-fit: scale-down;
}


.contenedorDos{
width:100vw;
display:grid;
place-content:center;
background:#ededed;
}

p{
width:90vw;
font-family:sans-serif;
margin:.5rem;
}

.contenedorDos a{
height:2.5rem;
width:15rem;
border:none;
background:#dedede;
font-family:sans-serif;
font-weight: 600;
font-size:1rem;
cursor:pointer;
margin:.5rem;
display:grid;
place-content:center;
color: #000;
text-decoration:none;
}

footer{
width:100vw;
background:#d1d1d1;
display:grid;
place-content:center;
grid-template-columns:auto auto auto auto;
gap:2rem;
padding:2rem 0 2rem 0;
box-sizing: border-box;
}
    
footer a{
height:4rem;
width:4rem;
background:#D8BE77;
display:grid;
place-content:center;
border-radius:2rem;
cursor:pointer;
}
    
footer img{
height:2.5rem;
width:2.5rem;
}

@media screen and (max-width:650px){
    header .logo{
    height:6rem;
    width:6rem;
    }

    .contenedor-img img{
    height:10rem;
    width:22rem;
    }

    footer a{
    height:3rem;
    width:3rem;
    }

    footer a img{
    height:1.5rem;
    width:1.5rem;
    }
}
